.board-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 0;
    position: relative;
    transition: margin 0.1s ease-in;
    .bg {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
}

.group-list-wrapper {
    display: flex;
    flex-grow: 1;
}

.group-list {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    margin-block-end: 8px;
    height: calc(100vh - 98px);
    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }
    &::-webkit-scrollbar-button {
        display: block;
        height: 4px;
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.15);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
    }
}

.group-list-wrapper.bg-open {
    .group-list {
        overflow-x: hidden;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.list-complete-item {
    transition: all 0.3s;
    display: inline-block;
    margin-right: 10px;
}

.list-complete-enter,
.list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */

{
    opacity: 0;
    transform: translateY(30px);
}

.list-complete-leave-active {
    position: absolute;
}