.board-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 0;
    position: relative;
    transition: margin 0.1s ease-in;
}

.group-list {
    position: relative;
    flex-grow: 1;
}