.card-preview {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #b2b9c5;
    cursor: pointer;
    max-width: 300px;
    min-height: 20px;
    // position: relative;
    text-decoration: none;
    z-index: 0;
    margin: 4px 8px;
    padding: 6px 8px;
    word-break: break-word;
    .preview-labels-container {
        display: flex;
        .label {
            min-height: 8px;
            border-radius: 3px;
            width: 40px;
            height: 8px;
            min-width: 40px;
            margin-right: 5px;
            padding: 0 10px;
            color: white;
            font-weight: 700;
            transition: width 0.4s, height 0.4s 0.4s;
        }
        .label.shown {
            width: fit-content;
            height: 20px;
        }
    }
    .preview-checklist-container {
        display: flex;
        align-items: center;
        .icon-sm {
            margin-top: 4px;
        }
    }
}