.card-preview-container {
    display: flex;
    flex-direction: column;

    &.quick-edit-card {
        >*{
            z-index: 2;
        }
    }

    .card-preview-inner-container{
        display: flex;
    }

    .quick-edit-btn {
        margin-left: 8px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 24px;
        color:white;
        background-color: #0079bf;
        border: none;
        transition-property: background-color,border-color,box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        align-self: flex-start;
    
        &:hover {
            background-color: #026aa7;
        }
        }
}


.card-preview {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #b2b9c5;
    cursor: pointer;
    max-width: 300px;
    width: 94%;
    min-height: 20px;
    text-decoration: none;
    margin: 4px 8px;
    padding: 6px 8px;
    word-break: break-word;
    .card-cover {
        height: 245px;
        background-color: #2d455a;
        background-size: cover;
        border-radius: 3px 3px 0 0;
        background-position: 50%;
        background-repeat: no-repeat;
        user-select: none;
        margin-inline: -8px;
        margin-block-start: -6px;
        margin-block-end: 6px;
    }
    .preview-labels-container {
        display: flex;
        flex-wrap: wrap;
        .label {
            min-height: 8px;
            border-radius: 3px;
            width: 40px;
            height: 8px;
            min-width: 40px;
            margin-right: 5px;
            padding: 0 10px;
            color: white;
            font-weight: 700;
            margin-bottom: 5px;
            transition: width 0.4s, height 0.4s 0.4s;
        }
        .label.shown {
            text-align: center;
            width: 70px;
            height: 20px;
            width: 60px;
        }
    }
    .preview-indicators-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .preview-inner-container {
            display: flex;
            align-items: center;
            >*:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
    .preview-checklist-container {
        display: flex;
        align-items: center;
        color: #5e6c84;
        .icon-sm {
            color: #5e6c84;
            margin-top: 4px;
        }
        .checklist-indicator {
            margin-top: 3px;
            font-size: 12px;
        }
    }
    .preview-attach-container {
        display: flex;
        align-items: center;
        color: #5e6c84;
        .attach-indicator {
            margin-top: 3px;
            font-size: 12px;
        }
        .icon-sm {
            color: #5e6c84;
            margin-top: 4px;
        }
    }
    .preview-members-container {
        display: flex;
        justify-content: flex-end;
        bottom: 2px;
        flex: 1;
    }
    .preview-date-container {
        font-size: 12px;
        color: #5e6c84;
        margin-top: 3px;
        border-radius: 3px;
        padding: 1px 3px;
        background-color: rgba(9, 30, 66, 0.04);
        font-weight: 500;
    }

    .icon-sm.icon-edit {
        position:absolute;
        padding: 1px 4px;
        right: 2px;
        top: 2px;
        color: #7b8494;
        border-radius: 3px;
        background-color: rgba(231, 232, 233,0.3);

        &:hover {
            background-color: rgb(197, 198, 199);
        }
    }
}
.ghost {
    opacity: .4;
    // transform:rotateX(20%);
}