.labels-list {
    background-color: white;
    width: 304px;
    border-radius: 3px;
    padding: 0 12px 12px;
    position: absolute;
    top: 50px;
    left: 50px;

    header {
        line-height: 40px;
        text-align: center;
    }

    hr {
        background-color : rgba(9, 30, 66, 0.13);
        margin: 0;
    }
}

.label-preview{
    display: flex;
    align-items: center;

    .icon-edit {
        cursor: pointer;
        padding:3px ;
        padding-inline: 6px;
        margin-left:4px ;
        margin-bottom: 4px;
        border-radius: 3px;

        &:hover {
            background-color:rgba(9,30,66,.08) ;
        }
    }
}

.label-option {
    flex: 1;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    min-height: 20px;
    padding: 5px 12px;
    margin-bottom: 4px;
    color:white;
    height: 32px;

    .icon-v {
        float: right;
    }
}