.quick-edit {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    margin: 4px 10px;
    width: fit-content;
    .quick-edit-inner {
        display: flex;
        flex-direction: column;
    }
    .quick-edit-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &.invert {
            align-items: flex-end;
            width: 172px;
        }
        .icon-sm {
            color: white;
        }
        .quick-sidebar-btn {
            cursor: pointer;
            position: relative;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 3px;
            margin: 0 0 4px 8px;
            padding: 6px 12px 6px 8px;
            transition: margin-left 85ms ease-in;
            display: flex;
            color: white;
            line-height: 19px;
            .members-list-cmp {
                top: 31px;
            }
            .labels-list {
                top: 31px;
            }
            section {
                z-index: 2;
                .icon-sm {
                    color: #6a778d;
                }
            }
            &:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                margin-left: 13px;
            }
        }
        p {
            margin-left: 6px;
        }
        &.invert .quick-sidebar-btn {
            transition: unset;
            transition: margin-right 85ms ease-in;
            &:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                margin-right: 13px;
                margin-left: 0;
            }
        }
    }
    .el-date-editor {
        margin: 0 0 4px 8px;
        transition: margin-left 85ms ease-in;
        &.invert {
            width: 103px !important;
            input {
                padding-right: 0;
            }
            &:hover {
                margin-left: 0;
                margin-right: 13px;
            }
        }
        &:hover {
            margin-left: 13px;
        }
        &.el-input {
            width: 130px;
        }
        .el-input__inner {
            height: 31px;
            background: rgba(0, 0, 0, 0.6);
            border: none;
            cursor: pointer;
            &:hover {
                background: rgba(0, 0, 0, 0.8);
            }
            &::placeholder {
                color: white;
                font-size: 14px;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            }
        }
        .el-input__icon {
            line-height: 32px;
            width: 23px;
        }
        .el-icon-date::before {
            font-family: icomoon;
            line-height: 33px;
            font-size: 15px;
            color: white;
            content: "\e91b";
        }
    }
}