.single-member-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	cursor: pointer;
	padding: 5px;
	transition: 0.3s;

	.user-txt {
		color: #172b4d;
		font-size: 14px;
		padding-inline-start: 5px;
	}

	&:hover {
		background-color: #091e4210;
		border-radius: 3px;
	}
}
