.members-list-container {
	align-items: center;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
		0 0 0 1px rgba(9, 30, 66, 0.08);
	display: flex;
	flex-direction: column;
	font-size: 30px;
	height: 250px;
	margin-left: 17px;
	margin-top: 12px;
	padding: 0 12px 12px;
	position: absolute;
	width: 300px;
	z-index: 1;

	header {
		text-align: center;
		color: #5e6c84;
		font-size: 14px;
		line-height: 40px;
	}

	.icon-x {
		@include to-icon('\e91c');
		color: #6b778c;
		position: absolute;
		top: 5px;
		right: 10px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			color: #4f5358;
		}
	}

	hr {
		background-color: rgba(9, 30, 66, 0.13);
		border: none;
		height: 1px;
		width: 100%;
		margin-block: 0 5px;
	}

	.users-details {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow-y: auto;

		&::-webkit-scrollbar {
			height: 8px;
			width: 8px;
			background-color: #98a2b1;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #b5bcc7;
		}
		&::-webkit-scrollbar-track-piece {
			border-radius: 10px;
			background: #cfd3da;
		}

		.members-list-header {
			text-transform: uppercase;
			color: #5e6c84;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.04em;
			line-height: 16px;
		}
	}
}
