.user-dashboard {
	width: 650px;
	.charts-container {
		display: flex;

		.chart-container {
			text-align: center;
			margin-right: 20px;
			h4 {
				font-weight: 500;
				margin-bottom: 10px;
			}
		}

		@media (max-width:700px) {
			flex-direction: column;
		}
	}
	@media (max-width:1070px) {
		width: 450px;
	}
	@media (max-width:700px) {
		width: 200px;
	}
}
