<<<<<<< HEAD
=======
@font-face {
    font-family: "icomoon";
    src: url("~@/assets/font/icomoon.ttf?wg6z27") format("truetype");
    font-weight: normal;
    font-style: normal;
}
>>>>>>> 9e8e7769d37070e450d439cd7246b6dc5dd27b8c
